/* general styling */
.font-playfair {
    font-family: "Playfair Display", serif;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}


body {
    font-family: "Montserrat", sans-serif;
}

.loveQuote {
    font-size: 20px;
}

.left-side {
    height: 100vh;
    background-image: url(../images/couple1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.8s ease;
}

.right-img {
    z-index: 1;
}

.z-99{
    z-index: 99;
}

.overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(17, 17, 17, 0.9) 90%);
    width: 100%;
    height: 100%;
}


.event {
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, #fff 80%, #F8F9FA 100%);

}

.tidbits {
    background: linear-gradient(180deg, #F8F9FA 20%, #fff 80%);

}

.qna {
}

.seeYou {
    height: 100vh;
}

.right-img {
    width: 55%;
}



.coupleName{
    font-size: 5vw;
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {

    .right-img {
        width: 75%;
    }

    .coupleName{
        font-size: 12vw;
    }
}


 /* Media Query for low resolution  Tablets, Ipads */
 @media (min-width: 481px) and (max-width: 767px) {
    .coupleName{
        font-size: 12vw;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .coupleName{
        font-size: 9vw;
    }
}

 /* Media Query for Laptops and Desktops */
 @media (min-width: 1025px) and (max-width: 1280px) {
    .coupleName{
        font-size: 8vw;
    }
}



